<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core_Data_Assignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0481A8C71DDE2616003E4D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0481A8E31DDE2617003E4D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0481A8EE1DDE2617003E4D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
